<div fxlayout="column" class="main-body">
  <div fxLayout="column">
    <div class="title" fxLayoutAlign="center center">
      The top search result is
    </div>
    <div class="item-name" fxLayoutAlign="center center">
      atom
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
    <mat-card>
      <div class="title">General info</div>
      <div fxLayout="row" fxLayoutGap="70px" class="top-card">
        <div fxLayout="row" fxLayoutGap="50px">
          <div fxLayout="column" fxLayoutGap="5px" class="bold-data">
            <div>Full name</div>
            <div>Description</div>
            <div>URL</div>
            <div>Language</div>
          </div>
          <div fxLayout="column" fxLayoutGap="5px">
            <div>atom/atom</div>
            <div>:atom: Tha hackable text editor</div>
            <div>https://github.com/atom/atom</div>
            <div>Javascript</div>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="50px">
          <div fxLayout="column" fxLayoutGap="5px" class="bold-data">
            <div>Private</div>
            <div>Created at</div>
            <div>Updated at</div>
          </div>
          <div fxLayout="column" fxLayoutGap="5px">
            <div>False</div>
            <div>20/01/2012</div>
            <div>16/05/2018</div>
          </div>
        </div>
      </div>
    </mat-card>

    <div fxLayout="row" fxLayoutGap="15px">
      <mat-card>
        <div class="title">Usage info</div>
        <div fxLayout="row" fxLayoutGap="40px" class="left-card">
          <div fxLayout="column" fxLayoutGap="5px">
            <div fxLayout="row" fxLayoutGap="10px">
              <img src="../../assets/img/github%20icons/star.svg">
              <div>Stared by</div>
            </div>
            <div fxLayout="row" fxLayoutGap="10px">
              <img src="../../assets/img/github%20icons/star.svg">
              <div>Watched by</div>
            </div>
            <div fxLayout="row" fxLayoutGap="10px">
              <img src="../../assets/img/github%20icons/star.svg">
              <div>Forked by</div>
            </div>
            <div fxLayout="row" fxLayoutGap="10px">
              <img src="../../assets/img/github%20icons/star.svg">
              <div>Licence</div>
            </div>
          </div>
          <div fxLayout="column" fxLayoutGap="5px" class="bold-data">
            <div>44901</div>
            <div>2427</div>
            <div>9221</div>
            <div>MIT</div>
          </div>
        </div>
      </mat-card>

      <mat-card>
        <div class="title">Owner info</div>
        <div fxLayout="row" fxLayoutGap="120px">
          <div fxLayout="row" fxLayoutGap="50px">
            <div fxLayout="column" fxLayoutGap="5px" class="bold-data">
              <div>Owner</div>
              <div>Owner id</div>
              <div>Type</div>
            </div>
            <div fxLayout="column" fxLayoutGap="5px">
              <div>atom</div>
              <div>3228505</div>
              <div>Organization</div>
            </div>
          </div>
          <div fxLayoutAlign="end end" class="image-avatar">
            <img src="https://avatars2.githubusercontent.com/u/1089146?v=4" alt="">
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
