.main-body {
  padding: 50px 0 50px;
}

.top-card {
  padding: 0 180px 0 0;
}

.left-card {
  padding: 0 180px 0 0;
}

.item-name {
  font-size: 40px;
  font-weight: 200;
  color: #2a2d31;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  margin-bottom: 40px
}

.title {
  color: #5b6068;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 300;
}

.bold-data {
  font-weight: bold;
}

.image-avatar {
  width: 70px;
  margin-top: 20px;
  img {
    width: 100%;
  }
}

